

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 120%;
}

h1 {
  border-bottom: 1px solid;
}

